.header {
  background-color: #3d3d3d !important;
  text-align: center !important;
  padding: auto;
}

nav {
  width: 100%;
  border-top: 1px solid gray;
  background-color: #3d3d3d !important;
  margin: auto;
}

.navbar-nav {
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.nav-item {
  padding: 2% 10px;
  cursor: pointer;
}

.nav-item a {
  color: #fff !important;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
}

.nav-item a:hover {
  color: #e56486 !important;
  transition: 0.3s;
}

/*DROPDOWN*/

.dropbtn {
  color: white;
  padding: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-align: center;
  border: 1px solid gray;
  display: none;
  position: absolute;
  background-color: #3d3d3d;
  min-width: 200px !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header-mobile {
  display: none;
  background-color: #3d3d3d !important;
}
/*medias queries*/
@media screen and (max-width: 900px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .header img {
    height: 60%;
    width: 60%;
    padding: 5px;
  }

  .navbar-nav {
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100% !important;
  }
  .nav-item {
    width: 100% !important;
  }
  .nav-item a {
    font-size: 20px;
    padding: 1px;
  }

  .dropbtn {
    font-size: 10px;
    align-items: center;
  }

  .header-mobile {
    display: flex;
    color: #fff;
    justify-content: left;
    width: 100% !important;
    color:#e56486;
  }


  .header-mobile i {
    font-size: 60px !important;
  }

  .dropdown-content {
    border: 1px solid gray;
  }

  .dropdown-content a {
    font-size: 12px !important;
  }
}
