<footer class="footer">
   <p>Lorem  ipsum | dolor | sit | amet | consectetur</p>
   <p>Asociación Mexicana sin ánimo de lucro</p>
  
   <div class="container-fluid">
        <div class="lan">
            <div><img height="25px" width="35px" src="../../../assets/mexico.png"> español</div>
            <div><img height="25px" width="35px" src="../../../assets/eua.png"> ingles</div>
            <div><img height="25px" width="35px" src="../../../assets/italy.png"> italiano</div>
            <div><img height="25px" width="35px" src="../../../assets/portugal.png"> portugues</div>
            <div><img height="25px" width="35px" src="../../../assets/france.png"> frances</div>
        </div>
        <div class="info">
            <div>Acerca de nosotros</div>
            <div>Dinamicas presenciales</div>
            <div>Dinamicas online</div>
        </div>
       
        <div class="networks">
            <div><i class='bx bxl-facebook-square' ></i></div>
            <div><i class='bx bxl-twitter' ></i></div>
            <div><i class='bx bxl-instagram-alt' ></i></div>
        </div>
   </div>
</footer>