$icon-color: #E199CB;
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(
    0deg,     rgba(12, 12, 12, 0.75),rgba(34, 28, 34, 0.75)), url("../../../assets/foooter_back.jfif");
       
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-size: small;
  font-weight: bolder;
  padding: 30px;
}


.lan{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding: 10px;
}

.lan div{
  margin: 5px;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.info div{
  transition: 1s;
}

.info div:hover{
  cursor: pointer;
  color:  #e56486;
  transition: 1s;
}


.networks{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 1px;
  justify-items: center;
  color: #FFF;
}

.networks i {
  font-size: xx-large;
}