<div class="container-detail">
  <div class="before">
    <div class="control"><i (click)="prev()" class='bx bx-chevrons-left'></i></div>
  </div>
  <div class="game-desc" id="game_desc">
    <div class="header_title">
      <p>
        <span *ngIf="gameType=='dinamicas-presenciales'"><i class='bx bx-group bx-tada bx-flip-horizontal' ></i></span> 
        <span *ngIf="gameType=='dinamicas-online'"><i class='bx bxl-zoom bx-tada bx-flip-horizontal' ></i></span> 
        {{gameResult.name}}</p>
      <p class="close_icon" (click)="navigateToDins()"><i class='bx bxs-x-circle'></i></p>
    </div>
    <article class="det_struc" id="det_struc">
      <img
        src="{{gameResult.foto}}"
        class="img-fluid caratula"
      />
      <p>
          {{gameResult.desc}}
      </p>
    </article>
  </div>
  <div class="after">
    <div class="control"><i (click)="next()" class='bx bx-chevrons-right'></i></div>
  </div>
</div>
