<div class="portada-about">
    <div class="text-block-about">
        <div class="about-us-text container-fluid">
            <p class="titles">JIM group</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam incidunt dolorum explicabo placeat ad
                architecto mollitia saepe fugiat voluptas eius, officiis cumque nostrum dolore nulla labore blanditiis
                perferendis excepturi et!</p>
            <div class="row">
                <div class="col-md-6">
                    <p class="titles">Mision</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, animi magni accusamus amet, possimus
                        veritatis omnis tempora, maxime necessitatibus illum eum in corrupti officia earum accusantium atque
                        assumenda doloribus quasi!</p>
                </div>
                <div class="col-md-6">
                    <p class="titles">Mision</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis reprehenderit ea maxime rem
                        provident, quod labore dolores laborum molestias repudiandae adipisci omnis laboriosam optio eius
                        ducimus nesciunt officiis dolorem dolor?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6  mt-1  text-center btn-cta">
                   <button (click)="navigateToDinPresencials()" class="about"><i class='bx bxs-group' ></i> Dinámicas presenciales</button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6  mt-1 text-center btn-cta">
                    <button (click)="navigateToDinOnline()" class="about"><i class='bx bxl-zoom'></i> Dinámicas online</button>
                </div>
            </div>
        </div>
    </div>
</div>