
    <div class="container-fluid cto">
        <div class="row" id="contact">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
                <div class="text-center">
                    <h5>Mantengase en contacto</h5>
                </div>
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="names"><i class='bx bxs-user-rectangle'></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingrese su nombre completo" aria-label="Username"
                            aria-describedby="names">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="mail"><i class='bx bx-mail-send'></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingrese su correo electrónico"
                            aria-label="Username" aria-describedby="mail">
                    </div>
                    <div class="text-center">
                        <button><i class='bx bx-send'></i> Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
               <div class="contact-info">
                   <h5><i class='bx bx-phone' (click)='openPhone()'></i> Número de telefono</h5>
                   <p (click)='openPhone()'> +56 55 88 99 88 55</p>
                   <h5><i class='bx bx-mail-send' ></i> Correo electrónico</h5>
                   <p> jimgroup@mail.com.mz</p>
                   <h5><i class='bx bxs-direction-right' ></i> Direccion</h5>
                   <p> Del Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
               </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
                <div class="text-center">
                    <h5>Siga con nosotros</h5>
                </div>
                <div class="container">
                  <div class="social">
                    <div href="www.fb.com"><i href="www.fb.com" class='bx bxl-facebook-square' ></i></div>
                    <div href="www.twitter.com"><i  href="www.twitter.com" class='bx bxl-twitter' ></i></div>
                    <div href="www.instagram.com"><i href="www.instagram.com" class='bx bxl-instagram-alt' ></i></div>
                  </div> 
                </div>
            </div>
        </div>
    </div>

