<div class="container-fluid">

    <div class="all-games">
        <div class="img-galery-detail img-1">
            <img src="../../../assets/tictactoe/1.jfif" alt="" class="img img-thumbnail">
            <div class="text-block container">
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <h4>Siguiendo ordenes</h4>
                        <p>LOS JUGADORES FORMARÁN PAREJAS DONDE UNA LLEVARÁ
                            LOS OJOS VENDADOS Y EL OTRO TENDRÁ QUE TENER LA VOZ
                            DE MANDO. EL JUGADOR QUE TENGA LOS OJOS VENDADOS SE
                            COLOCARÁ AL INICIO DE UN CAMINO CON VARIOS
                            OBSTÁCULOS Y TENDRÁ QUE SEGUIR LA ÓRDENES DE SU
                            OTRO COMPAÑERO QUE LE EXPLICARÁ COMO DEBE AVANZAR
                            PARA NO PISAR LOS OBSTÁCULOS, SI EL JUGADOR CON LOS
                            OJOS VENDADOS LLEGA A PISAR ALGÚN OBSTÁCULO DEBERÁ
                            INICIAR DE NUEVO EL RECORRIDO. UNA VEZ CONCLUIDO EL
                            RECORRIDO CAMBIARÁN DE ROL Y SE LLEVARÁ A CABO LAS
                            MIS INSTRUCCIONES. SE TOMARÁ EL TIEMPO Y LA PAREJA
                            QUE HAYA REALIZADO AMBOS RECORRIDOS EN EL MENOR
                            TIEMPO GANARÁ</p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 p-1">
                        <button class="small"> Ver mas...</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-galery-detail img-2">
            <img src="../../../assets/lanzandoaros/2.jfif" alt="" class="img img-thumbnail">
            <div class="text-block container">
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <h4>Siguiendo ordenes</h4>
                        <p>LOS JUGADORES FORMARÁN PAREJAS DONDE UNA LLEVARÁ
                            LOS OJOS VENDADOS Y EL OTRO TENDRÁ QUE TENER LA VOZ
                            DE MANDO. EL JUGADOR QUE TENGA LOS OJOS VENDADOS SE
                            COLOCARÁ AL INICIO DE UN CAMINO CON VARIOS
                            OBSTÁCULOS Y TENDRÁ QUE SEGUIR LA ÓRDENES DE SU
                            OTRO COMPAÑERO QUE LE EXPLICARÁ COMO DEBE AVANZAR
                            PARA NO PISAR LOS OBSTÁCULOS, SI EL JUGADOR CON LOS
                            OJOS VENDADOS LLEGA A PISAR ALGÚN OBSTÁCULO DEBERÁ
                            INICIAR DE NUEVO EL RECORRIDO. UNA VEZ CONCLUIDO EL
                            RECORRIDO CAMBIARÁN DE ROL Y SE LLEVARÁ A CABO LAS
                            MIS INSTRUCCIONES. SE TOMARÁ EL TIEMPO Y LA PAREJA
                            QUE HAYA REALIZADO AMBOS RECORRIDOS EN EL MENOR
                            TIEMPO GANARÁ</p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 p-1">
                        <button class="small"> Ver mas...</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-galery-detail img-3">
            <img src="../../../assets/encontrandoiguales/1.jfif" alt="" class="img img-thumbnail">
            <div class="text-block container">
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <h4>Siguiendo ordenes</h4>
                        <p>LOS JUGADORES FORMARÁN PAREJAS DONDE UNA LLEVARÁ
                            LOS OJOS VENDADOS Y EL OTRO TENDRÁ QUE TENER LA VOZ
                            DE MANDO. EL JUGADOR QUE TENGA LOS OJOS VENDADOS SE
                            COLOCARÁ AL INICIO DE UN CAMINO CON VARIOS
                            OBSTÁCULOS Y TENDRÁ QUE SEGUIR LA ÓRDENES DE SU
                            OTRO COMPAÑERO QUE LE EXPLICARÁ COMO DEBE AVANZAR
                            PARA NO PISAR LOS OBSTÁCULOS, SI EL JUGADOR CON LOS
                            OJOS VENDADOS LLEGA A PISAR ALGÚN OBSTÁCULO DEBERÁ
                            INICIAR DE NUEVO EL RECORRIDO. UNA VEZ CONCLUIDO EL
                            RECORRIDO CAMBIARÁN DE ROL Y SE LLEVARÁ A CABO LAS
                            MIS INSTRUCCIONES. SE TOMARÁ EL TIEMPO Y LA PAREJA
                            QUE HAYA REALIZADO AMBOS RECORRIDOS EN EL MENOR
                            TIEMPO GANARÁ</p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 p-1">
                        <button class="small"> Ver mas...</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-galery-detail img-4">
            <img src="../../../assets/laberinto/1.jfif" alt="" class="img img-thumbnail">
            <div class="text-block container">
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <h4>Siguiendo ordenes</h4>
                        <p>LOS JUGADORES FORMARÁN PAREJAS DONDE UNA LLEVARÁ
                            LOS OJOS VENDADOS Y EL OTRO TENDRÁ QUE TENER LA VOZ
                            DE MANDO. EL JUGADOR QUE TENGA LOS OJOS VENDADOS SE
                            COLOCARÁ AL INICIO DE UN CAMINO CON VARIOS
                            OBSTÁCULOS Y TENDRÁ QUE SEGUIR LA ÓRDENES DE SU
                            OTRO COMPAÑERO QUE LE EXPLICARÁ COMO DEBE AVANZAR
                            PARA NO PISAR LOS OBSTÁCULOS, SI EL JUGADOR CON LOS
                            OJOS VENDADOS LLEGA A PISAR ALGÚN OBSTÁCULO DEBERÁ
                            INICIAR DE NUEVO EL RECORRIDO. UNA VEZ CONCLUIDO EL
                            RECORRIDO CAMBIARÁN DE ROL Y SE LLEVARÁ A CABO LAS
                            MIS INSTRUCCIONES. SE TOMARÁ EL TIEMPO Y LA PAREJA
                            QUE HAYA REALIZADO AMBOS RECORRIDOS EN EL MENOR
                            TIEMPO GANARÁ</p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 p-1">
                        <button class="small" style="top:20%"> Ver mas...</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-galery-detail img-5">
            <img src="../../../assets/siguiendoordenes/1.jfif" alt="" class="img img-thumbnail">
            <div class="text-block container">
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <h4>Siguiendo ordenes</h4>
                        <p>LOS JUGADORES FORMARÁN PAREJAS DONDE UNA LLEVARÁ
                            LOS OJOS VENDADOS Y EL OTRO TENDRÁ QUE TENER LA VOZ
                            DE MANDO. EL JUGADOR QUE TENGA LOS OJOS VENDADOS SE
                            COLOCARÁ AL INICIO DE UN CAMINO CON VARIOS
                            OBSTÁCULOS Y TENDRÁ QUE SEGUIR LA ÓRDENES DE SU
                            OTRO COMPAÑERO QUE LE EXPLICARÁ COMO DEBE AVANZAR
                            PARA NO PISAR LOS OBSTÁCULOS, SI EL JUGADOR CON LOS
                            OJOS VENDADOS LLEGA A PISAR ALGÚN OBSTÁCULO DEBERÁ
                            INICIAR DE NUEVO EL RECORRIDO. UNA VEZ CONCLUIDO EL
                            RECORRIDO CAMBIARÁN DE ROL Y SE LLEVARÁ A CABO LAS
                            MIS INSTRUCCIONES. SE TOMARÁ EL TIEMPO Y LA PAREJA
                            QUE HAYA REALIZADO AMBOS RECORRIDOS EN EL MENOR
                            TIEMPO GANARÁ</p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 p-1">
                        <button class="small" style="top:20%"> Ver mas...</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-img">
            <img src="" alt="" class="img-show">
        </div>
    </div>

</div>